<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.pedrodavidlp.ittrivial">
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login.view.MenuActivity">
        </activity>
        <activity android:name=".game.view.activity.GameActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".login.view.EnterGameActivity">
        </activity>
        <activity android:name=".game.view.activity.QuestionActivity">
        </activity>
        <activity android:name=".login.view.PlayerListAdminActivity">
        </activity>
        <activity android:name=".login.view.PlayerListGuestActivity">
        </activity>
        <activity android:name=".login.view.GameListActivity">
        </activity>
        <activity android:name=".game.view.activity.WaitActivity">
        </activity>
    </application>

</manifest>